/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2018, 15:50:44
    Author     : thiag
*/


/*Estrutura das páginas Cabeçalho ,Rodapé e estilos em comum em todas as página*/


/*Estrutura das páginas Cabeçalho ,Rodapé e estilos em comum em todas as página*/

html, body {
    height: 100%;
}

#logo{
	margin-left: 2%;
	width:120px;
	height:90px;
	margin-top: -20%;
	padding-left:10%;
}

.home {
  z-index: 0;
  background-color: #273443;
  padding: -5% 1%;
  color: white;
}

.container-conteudo{
 background-color: white;
 margin-right: 20%;
 margin-left: 20%;
 border-radius: 10px;
 color: inherit;
 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.dropdown-menu{
	z-index: 0;
}

.btn-primary.btn-lg {
	background-color:  #273443;
	border-width:0px;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    margin-top: 0px;
}
#dropdown{
	background-color:  #273443;
	border-width:0px;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    margin-top: 0px;
    margin-left:10%;
    margin-bottom: 10%;
}

.row{
 margin-left: 10px;
 margin-right: 10px;
}

.archives{
border-radius: 10px;
}


#filtros{
	border-style: groove;
	margin-top: 10px;
	border-color: lightgrey;
	border-radius: 10px;
	height:100px;
	border-radius: 10px;
	opacity: 2;
	}

.container-conteudo1{
	margin-right: 100px;
 	margin-left: 100px;
}

#problema{

	display: none;
}

#componenteid{

	display: none;
}

a{
	color:black;
}

footer {
      background-color: #232f3c;
      color: white;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 1%;
}

.foto-perfil{
  background-color: #ddd;
  border-radius: 100%;
  height: 200px;
  object-fit: cover;
  width: 200px;  
}

#dropdown-menu{
	padding-left: 7%;
	background-color:  #273443;
	z-index: 0;
}

#correcao-menu{
	padding-left: 4%;
}

#valor{
	background: #EEE; 
    cursor: not-allowed; 
    color: #777;
}
/*Excessão:Página Login*/
#container-login{
	margin-top: 10%;
	padding-top: 1%;
	padding-left:20px;
	padding-right:20px;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 20px;
	width: 500px ;
	padding-bottom: 1%;
}

#foto-login{
	background-color: #ddd;
  	border-radius: 100%;
  	height: 200px;
  	object-fit: cover;
 	width: 200px; 
 	padding-right: auto;
 	padding-left: auto;
 	margin-left: 100px;

}

/*Página Enviar-Orcamento*/

#container-enviar-orcamento{
	padding-left:2%;
	padding-right:2%;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 5%;
	padding-bottom: 1%;
	margin-bottom: 5%;
}

#container-inputs-orcamento{
	margin-top: 2%;
	padding-bottom: 1%;
	margin-bottom: 3%;
}

/*Página cadastrar-senha*/

#container-nova-senha{
	margin-top: 10%;
	background-color: lightgrey;
	width: 40%;
	border-radius: 10%;
	padding-bottom: 2%;
}

/*Página deletar conta*/

#container-deletar-conta{
	padding-left:2%;
	padding-right:2%;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 10%;
	padding-bottom: 1%;
	margin-bottom: 5%;
	width: 40%;
}

#profissao-deleta-conta{
	margin-left: -6%;
}

/*Página Manter Pedidos*/
#status{
 	border: 1px solid #000;
 	border-radius:30px;
 	width:25px;
 	height:25px;
 	text-align:center;
 	vertical-align: middle;
 	line-height:50px;    
 	box-shadow: 2px 2px 5px #999;
 	margin-left: 40%;
}

#container-manter-pedidos{
	padding-left:2%;
	padding-right:2%;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 5%;
	padding-bottom: 1%;
	margin-bottom: 5%;
}

/*Página detalhe-orcamento*/
#container-detalhe-orcamento{
	padding-left:2%;
	padding-right:2%;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 5%;
	padding-bottom: 1%;
	margin-bottom: 5%;
}

#status-detalhe-orcamento{
	border: 1px solid #000;
 	border-radius:30px;
 	width:50px;
 	height:50px;
 	text-align:center;
	 vertical-align: middle;
 	line-height:50px;    
 	box-shadow: 2px 2px 5px #999;
	margin-left: 40%;
}

#correcao-detalhes{
	margin-left:-30px;
	margin-bottom: 1%;
}

/*Página manter-funcionarios*/

#container-manter-funcionario{
	padding-left:2%;
	padding-right:2%;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 5%;
	padding-bottom: 1%;
	margin-bottom: 5%;
}

#relatorios{
	border-bottom: 1px solid black;
	padding-left:1%;
}

/*aqui*/









